<h2> <%= limo.title  %></h2>

<img width='600' height='400' src="<%= limo.coverImagePath %>" alt="">

<div>Description: <%= limo.description %></div>
<!-- <div>pricePerDay: <%= limo.pricePerDay %>$ </div> -->
<!-- <div>pricePerHour: <%= limo.pricePerHour %>$</div> -->
<!-- <div>pricePerKM: <%= limo.pricePerKm %>$</div> -->
<!-- <div>airportTransfer: <%= limo.airportTransfer %>$</div> -->


<!-- <a href="/limos/<%= limo.id %>/edit">Edit</a> -->

<!-- <%- include('../partials/deleteForm', { url: `/limos/${limo.id}` }) %>  -->
